on: [push]
name: CI
jobs:
  test:
    env:
      GOPATH: ${{ github.workspace }}

    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        path: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version-file: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}/go.mod
        cache-dependency-path: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}/go.sum
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Execute Tests
      run: |
        go mod download
        go mod verify
        sudo make DOCKER="sudo docker" test

  k8s:
    name: "k8s"

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          path: ${{ github.workspace }}/${{ github.repository }}
      - name: Start minikube
        id: minikube
        uses: medyagh/setup-minikube@latest
      - name: Build image
        run: |
          eval $(minikube -p minikube docker-env) && \
          make docker-build CI=false && \
          echo "docker_image=$(docker images --format '{{.Repository}}:{{.Tag}}' | head -n 1)" >> "$GITHUB_ENV"
        working-directory: ${{ github.workspace }}/${{ github.repository }}
      - name: Create pod
        run: |
          echo "Running ${{ env.docker_image }}" && \
          kubectl run calls-offloader --image="${{ env.docker_image }}" \
            --env="LOGGER_CONSOLELEVEL=debug" --env="LOGGER_ENABLEFILE=false" --env="JOBS_APITYPE=kubernetes"
        working-directory: ${{ github.workspace }}/${{ github.repository }}
      - name: Show logs
        run: sleep 4s && kubectl logs calls-offloader
      - name: Check pod is running
        run: test $(kubectl get pods calls-offloader -o jsonpath='{.status.phase}') = "Running"
